src/main/java/proxy/.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.2 git-revision#0264419. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.2 git-revision#0264419. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://tpjaxws.sid.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://tpjaxws.sid.org/" name="BankWS">
<types>
<xsd:schema>
<xsd:import namespace="http://tpjaxws.sid.org/" schemaLocation="http://0.0.0.0:8084/?xsd=1"/>
</xsd:schema>
</types>
<message name="convertEuroToDH">
<part name="parameters" element="tns:convertEuroToDH"/>
</message>
<message name="convertEuroToDHResponse">
<part name="parameters" element="tns:convertEuroToDHResponse"/>
</message>
<message name="getAccount">
<part name="parameters" element="tns:getAccount"/>
</message>
<message name="getAccountResponse">
<part name="parameters" element="tns:getAccountResponse"/>
</message>
<message name="listAccounts">
<part name="parameters" element="tns:listAccounts"/>
</message>
<message name="listAccountsResponse">
<part name="parameters" element="tns:listAccountsResponse"/>
</message>
<portType name="BankService">
<operation name="convertEuroToDH">
<input wsam:Action="http://tpjaxws.sid.org/BankService/convertEuroToDHRequest" message="tns:convertEuroToDH"/>
<output wsam:Action="http://tpjaxws.sid.org/BankService/convertEuroToDHResponse" message="tns:convertEuroToDHResponse"/>
</operation>
<operation name="getAccount">
<input wsam:Action="http://tpjaxws.sid.org/BankService/getAccountRequest" message="tns:getAccount"/>
<output wsam:Action="http://tpjaxws.sid.org/BankService/getAccountResponse" message="tns:getAccountResponse"/>
</operation>
<operation name="listAccounts">
<input wsam:Action="http://tpjaxws.sid.org/BankService/listAccountsRequest" message="tns:listAccounts"/>
<output wsam:Action="http://tpjaxws.sid.org/BankService/listAccountsResponse" message="tns:listAccountsResponse"/>
</operation>
</portType>
<binding name="BankServicePortBinding" type="tns:BankService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="convertEuroToDH">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAccount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listAccounts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="BankWS">
<port name="BankServicePort" binding="tns:BankServicePortBinding">
<soap:address location="http://0.0.0.0:8084/"/>
</port>
</service>
</definitions>